{
    "extends": ["strict/es5", "strict/browser"],

    "globals": {
        "console": true,
        "debugger": true,
        "$": true,
        "jQuery": true,
    },
  
    "rules": {
        "func-names": 0,
        "id-match": 0,
        "id-length": 0,
        "padded-blocks": 0,
        "indent": 0,
        "one-var": 0,
        "newline-after-var": 0,
        "func-style": 0,
        "comma-dangle": 2,
        "init-declarations": 0,
        "max-len": 0,
        "brace-style": 0,
        "no-extend-native": 0,
        "no-negated-condition": 0,
        "no-multi-spaces": 0,
        "no-invalid-this": 0,
        "one-var-declaration-per-line": 0,
        "radix": 0,
        "array-bracket-spacing": 0,
        "no-magic-numbers": 0,
        "linebreak-style": 0,
        "no-mixed-operators": 0,
        "no-throw-literal": 0,
        "operator-linebreak": ["error", "after", { "overrides": { "?": "before", ":": "before" } }],
        "no-inline-comments": 0,
        "line-comment-position": 0
   }
}

// http://eslint.org/docs/user-guide/configuring#configuring-rules