@green: #68a04f;
@darkGreen: #366036;
@red: #cc6161;
@darkRed: #7d1010;
@blue: #4d75da;
@darkBlue: #0c1a5f;

.gallery-admin {
    h2 {
        margin-bottom: 0;
    }
    
    input[type=submit] {
        font-size: 16px;
        font-weight: bold;
        border-bottom: none;
        padding: 1px 10px;
        
        &:hover {
            background: #005374;
        }
    }

    .alert {
        border: 1px solid #f3ae97;
        background: #f8e1e1;
        padding: 2px 7px;
        font-weight: bold;
        color: #b26d6d;
        margin-bottom: 10px;
        display: none;

        .icon {
            font-size: 0.9em;
            border-radius: 30px;
            border: 1px solid #f3ae97;
            padding: 0 3px 1px 7px;
            margin-right: 5px;
            color: #f3ae97;
        }
    }
    
    button {
        font-weight: bold;
        padding: 3px 10px;
        border: 1px solid lightgray;
        cursor: pointer;
        outline: none;
        
        &.add {
            background-color: @green;
            color: white;

            &:hover {
                background-color: @darkGreen;
            }
        }
        
        &.delete {
            background-color: @red;
            color: white;

            &:hover {
                background-color: @darkRed;
            }
        }

        &.save {
            background-color: @blue;
            color: white;

            &:hover {
                background-color: @darkBlue;
            }

            &#save-galleries {
                float: right;
            }
        }

        &:hover {
            background: #ccc;
        }
    }
    
    .gallery {
        border: 1px solid #aaa;
        margin-top: 20px;
        overflow: hidden;
        background: white;

        .gallery-header {
            border-bottom: 1px solid #666;
            background-color: #ededed;
            padding: 5px;

            button {
                &.delete, &.add {
                    float: right;
                    margin: 3px 0 0 10px;
                }

                &.expand-close {
                    padding: 0 10px 3px;
                    margin-right: 10px;

                    span {
                        font-weight: bold;
                        font-size: 2em;
                        line-height: 0.8em;
                    }

                    &.expanded .plus {
                        display: none;
                    }

                    &.closed .minus {
                        display: none;
                    }
                }
            }
        }
        
        .gallery-body {
            .gallery-image-wrapper {
                margin: 10px;
                padding: 10px 0;
                display: block;
                clear: both;
                min-height: 60px;
                border-bottom: 1px dashed gray;
                overflow: hidden;

                img {
                    width: 100px;
                    float: left;
                    border: 2px solid #666;
                }

                .gallery-image-infos {
                    margin-left: 120px;

                    input {
                        width: 300px;
                    }

                    button {
                        float: left;

                        &.sort {
                            margin-right: 5px;
                            padding: 0;
                            width: 30px;
                            height: 25px;
                            background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUBAMAAAB/pwA+AAAAIVBMVEUAAACenp6enp6enp6enp6enp6enp6enp6enp6enp6enp6k5AaNAAAACnRSTlMAAgQGdHuyucXtsb9rZwAAAEdJREFUCFtjYAACdwUGKGBd1QRjRq1aoQATXAUTjgIyIcIgQaiwF5i5QgDIzAIzVxowkAaQtCEZhmQFksXIzkFyJLLToR4CAMNLK5dd5fOkAAAAAElFTkSuQmCC") no-repeat center center;
                        }
                    }
                }
            }
        }
    }

    .gallery-image-template, .gallery-template {
            display: none;
        }
}