.gallery-admin h2 {
  margin-bottom: 0;
}
.gallery-admin p {
  margin-bottom: 15px;
}
.gallery-admin input[type=submit] {
  font-size: 16px;
  font-weight: bold;
  border-bottom: none;
  padding: 1px 10px;
}
.gallery-admin input[type=submit]:hover {
  background: #005374;
}
.gallery-admin button {
  font-weight: bold;
  padding: 3px 10px;
  border: 1px solid lightgray;
  cursor: pointer;
  outline: none;
}
.gallery-admin button.add {
  background-color: #477147;
  color: white;
}
.gallery-admin button.add:hover {
  background-color: #366036;
}
.gallery-admin button.delete {
  background-color: #8e2020;
  color: white;
}
.gallery-admin button.delete:hover {
  background-color: #7d1010;
}
.gallery-admin .gallery-template {
  border: 1px solid #aaa;
  margin-top: 20px;
  overflow: hidden;
  background: white;
}
.gallery-admin .gallery-template .gallery-header {
  border-bottom: 1px solid #666;
  background-color: #ddd;
  padding: 5px;
}
.gallery-admin .gallery-template .gallery-header button.delete {
  float: right;
}
.gallery-admin .gallery-template .gallery-header button.add {
  margin-right: 10px;
}
.gallery-admin .gallery-template .gallery-images .gallery-image-wrapper {
  text-align: center;
  position: relative;
  float: left;
  padding: 10px;
}
.gallery-admin .gallery-template .gallery-images .gallery-image-wrapper.gallery-image-template {
  display: none;
}
.gallery-admin .gallery-template .gallery-images .gallery-image-wrapper img {
  max-width: 300px;
  max-height: 100px;
  border: 5px solid #333;
}
.gallery-admin .gallery-template .gallery-images .gallery-image-wrapper button {
  opacity: 0.2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;
}
.gallery-admin .gallery-template .gallery-images .gallery-image-wrapper:hover button {
  opacity: 0.8;
}
