.gallery-admin h2 {
  margin-bottom: 0;
}
.gallery-admin input[type=submit] {
  font-size: 16px;
  font-weight: bold;
  border-bottom: none;
  padding: 1px 10px;
}
.gallery-admin input[type=submit]:hover {
  background: #005374;
}
.gallery-admin .alert {
  border: 1px solid #f3ae97;
  background: #f8e1e1;
  padding: 2px 7px;
  font-weight: bold;
  color: #b26d6d;
  margin-bottom: 10px;
  display: none;
}
.gallery-admin .alert .icon {
  font-size: 0.9em;
  border-radius: 30px;
  border: 1px solid #f3ae97;
  padding: 0 3px 1px 7px;
  margin-right: 5px;
  color: #f3ae97;
}
.gallery-admin button {
  font-weight: bold;
  padding: 3px 10px;
  border: 1px solid lightgray;
  cursor: pointer;
  outline: none;
  font-size: 16px;
}
.gallery-admin button.add {
  background-color: #68a04f;
  color: white;
}
.gallery-admin button.add:hover {
  background-color: #366036;
}
.gallery-admin button.delete {
  background-color: #cc6161;
  color: white;
}
.gallery-admin button.delete:hover {
  background-color: #7d1010;
}
.gallery-admin button.save {
  background-color: #4d75da;
  color: white;
}
.gallery-admin button.save:hover {
  background-color: #0c1a5f;
}
.gallery-admin button.save#save-galleries {
  float: right;
}
.gallery-admin button:hover {
  background: #ccc;
}
.gallery-admin .gallery {
  border: 1px solid #aaa;
  margin-top: 20px;
  overflow: hidden;
  background: white;
}
.gallery-admin .gallery button {
  font-size: 13px;
}
.gallery-admin .gallery .gallery-header {
  border-bottom: 1px solid #666;
  background-color: #ededed;
  padding: 5px;
}
.gallery-admin .gallery .gallery-header button.delete,
.gallery-admin .gallery .gallery-header button.add {
  float: right;
  margin: 3px 0 0 10px;
}
.gallery-admin .gallery .gallery-header button.expand-close {
  padding: 0 10px 3px;
  margin-right: 10px;
}
.gallery-admin .gallery .gallery-header button.expand-close span {
  font-weight: bold;
  font-size: 2em;
  line-height: 0.8em;
}
.gallery-admin .gallery .gallery-header button.expand-close.expanded .plus {
  display: none;
}
.gallery-admin .gallery .gallery-header button.expand-close.closed .minus {
  display: none;
}
.gallery-admin .gallery .gallery-body .gallery-image-wrapper {
  margin: 10px;
  padding: 10px 0;
  display: block;
  clear: both;
  min-height: 60px;
  border-bottom: 1px dashed gray;
  overflow: hidden;
}
.gallery-admin .gallery .gallery-body .gallery-image-wrapper img {
  width: 100px;
  float: left;
  border: 2px solid #666;
}
.gallery-admin .gallery .gallery-body .gallery-image-wrapper .gallery-image-infos {
  margin-left: 120px;
}
.gallery-admin .gallery .gallery-body .gallery-image-wrapper .gallery-image-infos input {
  width: 300px;
}
.gallery-admin .gallery .gallery-body .gallery-image-wrapper .gallery-image-infos button {
  float: left;
}
.gallery-admin .gallery .gallery-body .gallery-image-wrapper .gallery-image-infos button.sort {
  margin-right: 5px;
  padding: 0;
  width: 30px;
  height: 25px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUBAMAAAB/pwA+AAAAIVBMVEUAAACenp6enp6enp6enp6enp6enp6enp6enp6enp6enp6k5AaNAAAACnRSTlMAAgQGdHuyucXtsb9rZwAAAEdJREFUCFtjYAACdwUGKGBd1QRjRq1aoQATXAUTjgIyIcIgQaiwF5i5QgDIzAIzVxowkAaQtCEZhmQFksXIzkFyJLLToR4CAMNLK5dd5fOkAAAAAElFTkSuQmCC") no-repeat center center;
}
.gallery-admin .gallery-image-template,
.gallery-admin .gallery-template {
  display: none;
}
#easy-carousel-settings {
  padding-top: 254px;
  position: relative;
}
#easy-carousel-settings #live-preview-panel {
  position: fixed;
  top: 27px;
  left: 160px;
  z-index: 101;
  width: 100%;
  margin-left: 20px;
}
#easy-carousel-settings #live-preview-panel #live-preview-carousel {
  margin: 20px 20px 20px 0 !important;
}
#easy-carousel-settings #reset-button {
  font-size: 16px;
  font-weight: bold;
  border-bottom: none;
  padding: 1px 10px;
  margin-left: 10px;
}
#easy-carousel-settings .border-field .color-text {
  top: 2px;
  position: relative;
}
#easy-carousel-settings #ec-settings-header-panel {
  position: fixed;
  background: #f1f1f1;
  z-index: 101;
  width: 100%;
  padding-bottom: 10px;
}
#easy-carousel-settings #ec-settings-header-panel a.nav-tab:focus {
  box-shadow: none;
}
#easy-carousel-settings #easy-carousel-settings-tab-content-scroll {
  margin-top: 100px;
  margin-left: 9px;
}
#easy-carousel-settings #easy-carousel-settings-tab-content-scroll #ec-settings-buttons {
  float: right;
  position: fixed;
  right: 0;
  z-index: 102;
  top: 344px;
}
#easy-carousel-settings #ec-settings-down-arrow {
  position: fixed;
  bottom: 30px;
  left: 165px;
  color: black;
  background: white;
  border: 1px solid gray;
  border-radius: 100px;
  opacity: 0.6;
}
#easy-carousel-settings #ec-settings-down-arrow .dashicons {
  font-size: 35px;
  width: 35px;
  height: 31px;
}
#easy-carousel-settings #ec-settings-down-arrow:hover {
  opacity: 1.0;
  cursor: pointer;
}
